
{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
  {% if app.user %}
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="/main.css" media="screen" type="text/css" />
    </head>
    <body>
      <div class = "container">
        <div class="col-md-3 offset-md-2">
        </div>
        <div class = "form_horizontal">
        {{ form_start(form) }}
          <div class="row justify-content-md-center">
            <div class = "col-sm-8 control-label">
              <h1>Modification du thème {{theme.name}}</h1>
              {{ form_row(form.name, {'label': 'Nom', 'attr':{'placeholder': 'nom', 'autofocus': 'true'}}) }}
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class = "col-sm-8 control-label">
              {{ form_row(form.url_img, {'label': 'Logo', 'attr':{'placeholder': 'prénom'}}) }}
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class = "col-sm-8 control-label">
              {% if theme.imageFond == NULL %}
                {{ form_row(form.imageFile, {'label': 'Image de fond', 'attr':{'placeholder': 'Choisir un fichier'}}) }}
              {% else %}
                {{ form_row(form.imageFile, {'label': 'Image de fond', 'attr':{'placeholder': theme.imageFond}}) }}
              {% endif %}
            </div>
          </div>
          <div class="col-md-12 offset-md-8">
            <br>
            <button type="submit" class="btn btn-dark">Valider</button>
          </div>
          {{ form_end(form) }}
        </div>
    </body>
  {% endif %}
  <script>
      $('.custom-file-input').on('change', function(event) {
        var inputFile = event.currentTarget;
        $(inputFile).parent()
        .find('.custom-file-label')
        .html(inputFile.files[0].name);
       });
  </script>
  {% endblock %}
